@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
}

#app {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5));
}

#search-bar {
    width: calc(100% - 2em);
    padding: 1em;
    margin: 0em 1em;

    appearance: none;
    background: none;
    border: none;
    outline: none;

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0em 0em 1em 1em;
    box-shadow: 0em 0.3em rgba(0, 0, 0, 0.3);

    color: rgb(0, 0, 0);
    font-size: large;
}

#search-bar::placeholder {
    color: rgb(75, 75, 75);
}

#search-bar:hover, .search-bar:focus {
    background-color: rgba(255, 255, 255, 0.75);
}

#weather-info {
    margin: 2em auto;
    text-align: center;
}

#weather-info span {
    display: block;
}

#weather-info #location {
    font-size: xx-large;
}

#weather-info #date {
    font-size: large;
    font-style: italic;
}

#weather-info #temp {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0.075em 0.15em rgba(0, 0, 0, 0.2);

    font-size: 2.4em;
    font-weight: bold;
}

#weather-info #details {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0.5em auto;
}

.bg {
    background-position: center;
    background-size: auto 100%;
}

.bg.day-warm {
    background-image: url('assets/bg-day-warm.jpg');
}

.bg.day-cold {
    background-image: url('assets/bg-day-cold.jpg');
}

.bg.night-warm {
    background-image: url('assets/bg-night-warm.jpg');
}

.bg.night-cold {
    background-image: url('assets/bg-night-cold.jpg');
}

.text-white {
    color: rgb(255, 255, 255);
}

.text-shadow {
    text-shadow: 0.075em 0.075em rgba(50, 50, 70, 0.5);
}

.abs-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}